@import '/src/scss/variables.scss';

.root {
  display: flex;
  flex-direction: column;

  .info {
    display: flex;
    justify-content: center;

    @media (max-width: 1080px) {
      flex-wrap: wrap;
    }

    .image {
      height: 300px;
      width: 400px;
    }

    .description {
      width: 30%;
      text-align: left;
      margin-left: -70px;
      margin-right: 45px;

      @media (max-width: 1080px) {
        order: 1;
        width: 60%;
        margin: 30px 0 0 0;
      }

      @media (max-width: 822px) {
        h2 {
          text-align: center;
        }
      }

      @media (max-width: 650px) {
        width: 95%;
        margin-bottom: 20px;
      }

      .title {
        font-size: 45px;
        font-weight: 900;
        letter-spacing: 1%;
        margin-bottom: 20px;
      }

      .text {
        font-size: 19px;
      }
    }

    .options {
      width: 280px;
      text-align: center;
      margin-right: 15px;

      .selector {
        display: flex;
        background-color: #f3f3f3;
        border-radius: 10px;
        flex-direction: column;
        padding: 6px;

        ul {
          display: flex;
          flex: 1;

          &:first-of-type {
            margin-bottom: 6px;
          }

          li {
            padding: 8px;
            flex: 1;
            cursor: pointer;
            font-weight: 600;
            font-size: 14px;
            &.active {
              background: #ffffff;
              box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
              border-radius: 5px;
              cursor: auto;
            }
          }
        }
      }

      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
      }

      .price {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.015em;
      }

      .buttonAdd {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 25px;
        background: #ffffff;
        border: 1px solid $orange;
        border-radius: 30px;
        transition: background-color $duration ease-in-out;

        svg {
          margin-right: 6px;
          path {
            fill: $orange;
          }
        }

        span {
          color: $orange;
          font-weight: 600;
          font-size: 16px;
          margin-right: 6px;
        }

        i {
          border-radius: 30px;
          background-color: $orange;
          color: #fff;
          font-weight: 600;
          width: 22px;
          height: 22px;
          line-height: 22px;
          font-style: normal;
        }

        &:hover {
          background: $orange;

          svg path {
            fill: #fff;
          }

          span {
            color: #fff;
          }

          i {
            background-color: #fff;
            color: $orange;
          }
        }
      }
    }
  }

  .buttonBack {
    display: flex;
    align-self: flex-start;
    width: 230px;
    min-width: 100px;
    border-radius: 30px;
    padding: 15px 20px;
    margin-bottom: 35px;
    background: $orange;
    border: 1px solid $orange;
    opacity: 0.9;
    cursor: pointer;
    transition: all $duration ease-in-out;

    @media (max-width: 600px) {
      padding: 13px 18px;
    }

    svg {
      height: 16px;
      width: 14px;
      margin-right: 5px;

      path {
        fill: #fff;
      }
    }

    span {
      color: #fff;
      font-weight: 600;
    }

    &:hover {
      background-color: darken($orange, 8%);
      border-color: darken($orange, 8%);
    }
  }
}
