.top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 748px) {
    flex-wrap: wrap;
  }
}

.title {
  margin: 35px 0;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
