@import '/src/scss/variables.scss';

.root {
  width: 400px;

  @media (max-width: 1200px) {
    width: 300px;
  }

  @media (max-width: 1053px) {
    position: relative;
    right: 18px;
    width: 400px;
  }

  @media (max-width: 695px) {
    width: 100%;
  }

  .inputBar {
    display: flex;

    input {
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 12px 38px;

      width: 100%;
      border-radius: 10px;
      font-size: 16px;
      transition: all 0.35s ease-in-out;

      &:hover {
        border: 1px solid rgba(0, 0, 0, 0.25);
      }

      &:focus {
        border: 1px solid rgba(0, 0, 0, 0.25);
      }
    }

    .searchIcon {
      position: relative;
      left: 28px;
      top: 14px;
      height: 18px;
      width: 18px;
      opacity: 0.4;
    }

    .deleteIcon {
      position: relative;
      right: 30px;
      top: 15px;
      height: 16px;
      width: 16px;
      opacity: 0.4;
      transform: rotate(45deg);

      path {
        fill: rgb(153, 153, 153);
        transition: all $duration ease-in-out;
      }

      &:hover {
        path {
          fill: black;
        }
      }
    }
  }
}
