@import '/src/scss/variables.scss';

.root {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  margin: 0 auto;

  .logo {
    display: flex;

    img {
      margin-right: 15px;
      width: 33px;
      height: 45px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }

  .buttonCart {
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: $orange;
    padding: 12px 25px;
    transition: background-color $duration ease-in-out;

    svg {
      margin-right: 8px;
      margin-bottom: 1px;
    }

    span {
      color: #fff;
      font-weight: 600;
      font-size: 16px;
    }

    &:hover {
      background-color: darken($orange, 8%);
    }
  }

  .delimiter {
    width: 1px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 14px;
    margin-right: 14px;
  }
}
