@import '../../../scss/variables.scss';

.item {
  display: flex;
  width: 100%;
  border-top: 1px solid $gray-line;
  padding-top: 30px;
  margin-top: 15px;

  a {
    color: black;
  }
}

.imgInfo {
  display: flex;
  margin-right: 20px;

  .imgWine {
    width: 110px;
    height: 80px;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h3 {
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.01em;
    }

    p {
      font-size: 18px;
      color: #8d8d8d;
    }
  }
}

.count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;

  b {
    font-size: 22px;
  }

  .buttonCount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    border: 2px solid $orange;
    cursor: pointer;
    transition: background-color $duration ease-in-out;

    &:hover {
      background-color: $orange;

      svg path {
        fill: #fff;
      }
    }
  }
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;

  b {
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.01em;
  }
}

.remove {
  display: flex;
  align-items: center;

  .buttonRemove {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $orange;
    border-color: darken($color: $gray-line, $amount: 10);
    width: 32px;
    height: 32px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color $duration ease-in-out, border-color $duration ease-in-out;

    svg {
      transform: rotate(45deg);

      path {
        fill: darken($color: $gray-line, $amount: 15);
      }
    }

    &:hover {
      border-color: darken($color: $gray-line, $amount: 80);
      background-color: darken($color: $gray-line, $amount: 80);

      svg path {
        fill: #fff;
      }
    }
  }
}
