@import-normalize;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
}

body {
  background-color: #ffdf8c;

  a {
    text-decoration: none;
  }
}

.wrapper {
  width: calc(100vw - 50px);
  height: 100%;
  background-color: #fff;
  margin: 25px auto;
  border-radius: 10px;
  max-width: 1400px;

  @media (max-width: 600px) {
    margin: 15px auto;
    width: calc(100vw - 30px);
  }

  @media (max-width: 450px) {
    margin: 10px auto;
    width: calc(100vw - 20px);
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 30px 0;
  margin: auto;

  @media (max-width: 814px) {
    padding: 0;
  }
}
