@import '/src/scss/variables.scss';

.root {
  width: 280px;
  text-align: center;
  margin-right: 15px;
  margin-bottom: 65px;

  a {
    color: black;
  }

  .image {
    width: 260px;
    height: 180px;
  }

  .title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  .selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  .price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }

  .buttonAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    background: #ffffff;
    border: 1px solid $orange;
    border-radius: 30px;
    transition: background-color $duration ease-in-out;

    svg {
      margin-right: 6px;
      path {
        fill: $orange;
      }
    }

    span {
      color: $orange;
      font-weight: 600;
      font-size: 16px;
      margin-right: 6px;
    }

    i {
      border-radius: 30px;
      background-color: $orange;
      color: #fff;
      font-weight: 600;
      width: 22px;
      height: 22px;
      line-height: 22px;
      font-style: normal;
    }

    &:hover {
      background: $orange;

      svg path {
        fill: #fff;
      }

      span {
        color: #fff;
      }

      i {
        background-color: #fff;
        color: $orange;
      }
    }
  }
}
