@import '/src/scss/variables.scss';

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 30px;

  h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    line-height: 145.4%;
    letter-spacing: 0.01em;
    color: #777777;
  }

  img {
    width: 300px;
    margin: 30px 0;
  }

  .buttonBack {
    display: flex;
    justify-content: center;
    width: 230px;
    min-width: 100px;
    border-radius: 30px;
    padding: 15px 20px;
    background: $orange;
    border: 1px solid $orange;
    cursor: pointer;
    transition: all $duration ease-in-out;

    svg {
      height: 16px;
      width: 14px;
      margin-right: 5px;

      path {
        fill: #fff;
      }
    }

    span {
      color: #fff;
      font-weight: 600;
    }

    &:hover {
      background-color: darken($orange, 8%);
      border-color: darken($orange, 8%);
    }
  }

  @media (max-width: 500px) {
    img {
      width: 200px;
    }
  }
}
